*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #6beeff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(100, 102, 126);
    letter-spacing: 1.2px;
}
form{
    width: 350px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow:  20px 20px 60px #5bcad9, -20px -20px 60px #7bffff;
    padding: 40px 20px;
    border-radius: 10px;
}
h6{
    margin-bottom: 10px;
    font: inherit;
    text-transform: uppercase;
}
a.submit{
    display: block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font: inherit;
    color: inherit;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    box-shadow:  20px 20px 60px #5bcad9, -20px -20px 60px #7bffff;
}
input[type="text"],input[type="password"],input[type="email"]{
    margin-bottom: 25px;
    border: none;
    background-color: transparent;
    box-shadow:  inset 20px 20px 60px #5bcad9, inset -20px -20px 60px #7bffff;
    padding: 10px;
    width: 90%;
    border-radius: 7px;
    outline: none;
}
::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: #ababab;
    letter-spacing: 1.3px;
}
input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    height: 40px;
    width: 120px;
    box-shadow:  20px 20px 60px #5bcad9, -20px -20px 60px #7bffff;
    border: 5px solid #6beeff;
    margin-right: 30px;
    border-radius: 30px;
    font: inherit;
    outline: none;
    cursor: pointer;
}
input[type="radio"]:after{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: #606060;
    letter-spacing: 0.5px;
}
#front-end:after{
    content: "Front";
}
#back-end:after{
    content: "Back";
}
input[type="radio"]:checked,a:active{
    box-shadow:  20px 20px 60px #5bcad9, -20px -20px 60px #7bffff,
    inset 20px 20px 60px #5bcad9, inset -20px -20px 60px #7bffff; 
}
input[type="radio"]:checked:after{
    color: #581dc5;
}